<!-- <router-outlet></router-outlet> -->
<h1>Rummaan trying his best 5.0</h1>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li routerLinkActive = "active"
    [routerLinkActiveOptions] = "{exact: true}">
    <a [routerLink] = "['/']">Home</a>
  </li>
  <li ngbNavItem routerLinkActive = "active">
    <a [routerLink] = "['/books']">Books</a>
  </li>
  <li ngbNavItem routerLinkActive = "active">
    <a [routerLink] = "['/addbook']">Add Book</a>
  </li>
  <li ngbNavItem routerLinkActive = "active">
    <a [routerLink] = "['/response']">Contact Us</a>
  </li>
</ul>

<router-outlet></router-outlet>