div{
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 2% 2% 2% 2%;
    
}

input{
    margin-bottom:10px;
}

textarea{
    margin-bottom: 10px;
}

table{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

.mat-column-id{
    width: 10%;
    padding: 0% 2% 0% 2% ;
}

.mat-column-name{
    width: 20%;
    padding: 0% 2% 0% 2% ;
}

.mat-column-info{
    width: 50%;
    padding: 0% 2% 0% 2% ;
}

.mat-column-img{
    width: 20%;
    padding: 0% 2% 0% 2% ;
}